:root {
  --base: #6BFA74;
  --spacing: 40px;
  --blur: 0px;
};
html {
  background-color: #000;
}

body {
  text-align: center;
  background: #000;
  color: white;
  font-family: 'avenir', sans-serif;
  font-weight: 100;
}
h1 {
  font-size: 3em;
}
label {
  font-size: 1.3em;
}

.controls {
  margin: 50px 0;
}

input {
  width:100px;
  margin-right: 10px;
}

img {
  height: 300px;
  margin: 40px;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}










